@import 'tailwindcss';

:root {
  --background: #f8f9fa;
  --surface: #ffffff;
  --text: #212529;
  --muted: #6c757d;

  --accent: #242424;

  --border: #dee2e6;

  --button-bg: var(--accent);
  --button-text: #ffffff;
  --input-bg: #ffffff;
  --input-border: var(--border);
  --input-focus: var(--accent);

  --modal-bg: #ffffff;
  --modal-border: var(--border);
  --modal-shadow: rgba(0, 0, 0, 0.15);
  --modal-backdrop: rgba(0, 0, 0, 0.5);

  --link: var(--accent);

  --error: #dc3545;
  --error-bg: #f8d7da;
  --error-text: #721c24;

  --alert: #ffc107;
  --alert-bg: #fff3cd;
  --alert-text: #856404;

  --default-radius: 5px;
}

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-text: var(--text);
  --color-muted: var(--muted);

  --color-accent: var(--accent);

  --color-border: var(--border);

  --color-button-bg: var(--color-accent);
  --color-button-text: var(--button-text);
  --color-input-bg: var(--input-bg);
  --color-input-border: var(--color-border);
  --color-input-focus: var(--color-accent);

  --color-modal-bg: var(--modal-bg);
  --color-modal-border: var(--color-border);
  --color-modal-shadow: var(--modal-shadow);
  --color-modal-backdrop: var(--modal-backdrop);

  --color-link: var(--color-accent);

  --color-error: var(--error);
  --color-error-bg: var(--error-bg);
  --color-error-text: var(--error-text);

  --color-alert: var(--alert);
  --color-alert-bg: var(--alert-bg);
  --color-alert-text: var(--alert-text);

  --radius-default-radius: 5px;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    font-weight: bold;
    margin: 0.67em 0;
    line-height: normal;
  }

  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.17em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 0.83em;
  }
  h6 {
    font-size: 0.67em;
  }
  hr {
    color: var(--border);
  }

  label {
    color: var(--muted);
    font-weight: 700;
    font-size: 0.9rem;
  }
}

body {
  background-color: var(--color-background);
}
