@use './../../../shared/ui/styles/variables';
@use './../../../shared/ui/styles/utils/beforeBackground';

$timeoutAnimation: variables.$timeoutAnimation;
$colorSecondaryBackground: variables.$colorSecondaryBackground;
$colorBorder: variables.$colorBorder;
$borderRadius: variables.$borderRadius;
$colorJavascript: variables.$colorJavascript;
$colorHtml: variables.$colorHtml;
$colorCss: variables.$colorCss;
$colorMutedText: variables.$colorMutedText;

.post {
    margin: 10px;
    background-color: $colorSecondaryBackground;
    border: 1.5px solid $colorBorder;

    &.postPreview {
        @include beforeBackground.BeforeBackground($colorMutedText, 0%);

        cursor: pointer;
        position: relative;
        margin: 0;
        transition: transform $timeoutAnimation ease-in-out;

        &::before {
            content: '';
            transition: opacity $timeoutAnimation ease-in-out;
        }

        &:hover {
            &::before {
                content: '';
                opacity: 25%;
            }
        }
    }

    &Container {
        display: grid;
        grid-template-areas:
            'postCreator postContent'
            'postInteracting postInteracting'
            'commentList commentList';
        grid-template-columns: 10% 1fr;

        &.postPreviewContainer {
            grid-template-areas: 'postCreator postContent';
        }
    }

    &__creator {
        grid-area: postCreator;

        &Container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__content {
        grid-area: postContent;

        &Container {
            padding: 15px;
        }
    }

    &__interacting {
        grid-area: postInteracting;
        height: auto;
        border-top: 1.5px solid $colorBorder;

        &__listButton {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            & li:last-of-type {
                position: relative;
                margin-left: auto;
            }

            & li {
                display: flex;
                align-items: center;
                padding: 5px;
            }
        }
    }

    &__commentList {
        grid-area: commentList;
        &Container {
            padding: 5px;
        }
    }
}
