@use './../../../shared/ui/styles/variables.scss';

$colorMutedText: variables.$colorMutedText;

.modalContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

    &__formContainer {
        max-width: 500px;
        padding: 30px;
        position: relative;
        transition: transform 0.2s ease;
        &Right {
            transform: translateX(100%);
        }
        &__appLogo {
            text-align: center;
            margin-bottom: 100px;
            h1 {
                font-weight: 800;
                font-size: 3rem;
                margin: 0;
            }
            span {
                position: relative;
                font-weight: 800;
                font-size: 1.2rem;
                letter-spacing: 4px;
                &::after {
                    content: '';
                    position: absolute;
                    width: 34px;
                    height: 9px;
                    left: -68px;
                    top: 50%;
                    transform: translate(50%, -50%);
                    background-color: black;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 34px;
                    height: 9px;
                    right: -30px;
                    top: 50%;
                    transform: translate(50%, -50%);
                    background-color: black;
                }
            }
        }
        &__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            form {
                label {
                    color: $colorMutedText;
                    font-weight: 600;
                }
            }
        }
    }
    &__Background {
        position: relative;
        transition: transform 0.2s ease;
        &Left {
            transform: translateX(-100%);
        }
        img {
            max-width: 500px;
            height: 100%;
        }
    }
}
